@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Inter:wght@400;600;700&display=swap');
* {
    /* defining custom variables */
    --primary-color: #f4c430;
    --secondary-color: #ffffff;
    --font-color: #000000;
    --extra-color: #00000075;
    --box-shadow-color: #00000050;
    --error-color: #f43030;
    --success-color: #5bf430;
    --grey-highlight: #0000001c;
    --dark-button-color: #2e2e2e;
    --light-button-color: #c4c4c4;
    --heading-font-family: 'Inter', sans-serif;
    --paragraph-font-family: 'Archivo', sans-serif;
    --border-radius: 7px;
    --max-content-width: 1270px;
    /* setting default values */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY */

body {
    background-image: url("../images/static/horgoHatter.png");
}


/* defining heading elements */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
}


/* defining other text elements */

p,
a,
label {
    font-family: var(--paragraph-font-family);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a.btn {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: var(--border-radius);
    outline: solid 2px var(--primary-color);
    transition: 100ms ease;
    text-align: center;
}

a.btn:hover,
a.btn:focus {
    background-color: var(--secondary-color);
}


/* navigation style */

nav {
    background-color: var(--primary-color);
    margin-bottom: 50px;
}

nav div.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-content-width);
    margin: auto;
}

nav div.logo-container {
    height: 100px;
}

nav div.logo-container>a {
    height: 100%;
    display: flex;
    align-items: center;
}

nav div.logo-container a>img {
    height: 80%;
}

nav div.link-container {
    display: flex;
    gap: 60px;
    font-size: 1.5rem;
}

nav div.link-container a {
    position: relative;
}

nav div.link-container>a:hover,
nav div.link-container>a:focus {
    text-decoration: underline;
}

nav div.link-container>a>span {
    transform: translateX(50%);
    display: none;
    position: absolute;
    top: 35px;
    right: 50%;
}

nav div.link-container>a:hover>span {
    display: block;
}


/* general styles for pages */

main {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto 50px auto;
}

main>h1,
main>div>h1 {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

table thead {
    font-family: var(--heading-font-family);
}

table tbody {
    font-family: var(--paragraph-font-family);
}


/* Filters and select-page */

.filters {
    width: 100%;
}

.filters input#search {
    font-size: 1rem;
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}

.filters button {
    font-size: 1rem;
    background-color: var(--dark-button-color);
    color: var(--secondary-color);
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

.select-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.5rem;
}

.select-page button.text-like {
    background-color: transparent;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.select-page button.text-like.inactive {
    color: var(--light-button-color);
    cursor: not-allowed;
}

.select-page .pages {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.select-page .pages p {
    background-color: var(--light-button-color);
    padding: 5px 7px;
    cursor: pointer;
    user-select: none;
}

.select-page .pages p.selected {
    background-color: var(--dark-button-color);
    color: var(--secondary-color);
    cursor: unset;
}

.operations {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--extra-color);
    margin-bottom: 20px;
}

.operations button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 150ms ease;
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.operations button:hover {
    background-color: var(--secondary-color);
}


/* patterns page style */

table.boxes {
    width: 100%;
}

table.boxes thead {
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

table.boxes thead tr td {
    font-weight: bold;
    padding: 10px;
}

table.boxes thead tr td:not(:first-of-type) {
    border-left: 2px solid var(--secondary-color)
}

table.boxes tbody tr {
    border-bottom: 1px solid var(--extra-color);
    cursor: pointer;
}

table.boxes tbody tr:hover {
    background-color: var(--grey-highlight);
}

table.boxes thead tr td:nth-of-type(1),
table.boxes tbody tr td:nth-of-type(1) {
    width: 50px;
    text-align: center;
}

table.boxes tbody tr td:nth-of-type(2) {
    padding-top: 4px;
    width: 120px;
    aspect-ratio: 1/1;
}

table.boxes tbody tr td:nth-of-type(3) {
    padding-left: 10px
}

table.boxes tbody tr td img {
    width: 100%;
    height: auto;
}


/* USERS */

table.users {
    width: 100%;
}

table.users thead {
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

table.users thead tr td {
    font-weight: bold;
    padding: 10px;
}

table.users thead tr td:not(:first-of-type) {
    border-left: 2px solid var(--secondary-color)
}

table.users tbody tr {
    border-bottom: 1px solid var(--extra-color);
    cursor: pointer;
}

table.users tbody tr:hover {
    background-color: var(--grey-highlight);
}

table.users thead tr td:nth-of-type(1),
table.users tbody tr td:nth-of-type(1) {
    width: 50px;
    text-align: center;
}

table.users tbody tr td {
    padding: 15px 0;
}

table.users tbody tr td:not(:first-of-type) {
    padding-left: 10px
}


/* USER */

.user-info h2 {
    margin: 20px 0 0;
}

.user-info,
.user-info .basic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info .basic .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-info .basic>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info .basic div p,
.user-info .basic div>div p {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.user-info .basic div>div input {
    padding: 5px 10px;
    font-size: 1rem;
    width: 30ch;
}

.user-info .basic div button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 150ms ease;
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
    width: fit-content;
}

.user-info .basic div button:hover {
    background-color: var(--secondary-color);
}

.user-info .unlocked-patterns p {
    padding: 10px 20px;
}

.user-info .unlocked-patterns p:not(:last-of-type) {
    border-bottom: 1px solid var(--extra-color);
}

.user-info .log-content {
    max-height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.user-info .log-content p {
    padding: 10px 20px;
}

.user-info .log-content p:not(:last-of-type) {
    border-bottom: 1px solid var(--extra-color);
}

.user-info .log-content p:hover {
    background-color: var(--grey-highlight);
}


/* LOGIN & REGISTER */

main.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 50px;
    max-width: var(--max-content-width);
}

.login-container {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 1px 2px 10px var(--box-shadow-color);
    text-wrap: balance;
}

.login-container>.logo-container {
    height: 100px;
    padding-bottom: 30px;
    box-sizing: unset;
}

.login-container>.logo-container>img {
    height: 100%;
}

.login-container>.inputs-container {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container>.inputs-container>.text-container p {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 130%;
}

.login-container>.inputs-container input {
    padding: 10px 30px;
    border-radius: var(--border-radius);
    border: solid 2px var(--font-color);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    width: 100%;
}

.login-container>.inputs-container input::placeholder {
    color: var(--extra-color);
}

.login-container>.inputs-container .checkbox label {
    font-size: 1rem;
    margin-left: 10px;
}

.login-container>.inputs-container .checkbox input {
    display: inline-block;
    width: fit-content;
}

.login-container>.inputs-container .checkbox label>a {
    color: var(--primary-color) !important;
}

.login-container .error-container {
    display: none;
    color: var(--error-color);
    font-size: 1rem;
    text-align: center;
    margin: -10px 0;
}

.login-container>.otheroption {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-container>.otheroption>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-container>.otheroption>div.normal>a {
    color: var(--extra-color);
}

.login-container>.otheroption p {
    color: var(--extra-color);
}

.login-container>.otheroption a {
    color: var(--primary-color);
}

.login-container>.button-container button {
    width: 100%;
    font-size: 1.2rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 10px 30px;
    outline: solid 2px var(--primary-color);
    transition: 100ms ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-container>.button-container button:hover,
.login-container>.button-container button:focus {
    background-color: var(--secondary-color);
}


/* UNLOCK PATTERN */

body.full-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: var(--max-content-width);
    margin: 0 auto;
    overflow: hidden;
}

.background-image-unlock-page {
    width: 100%;
    max-width: var(--max-content-width);
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

main.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: fit-content;
}

.bottom-right>.login-container {
    width: fit-content;
}

.message-popup-container {
    display: block;
    position: absolute;
    right: 20px;
    top: 120px;
    width: 300px;
    height: fit-content;
    background-color: var(--secondary-color);
}

.message-popup-container.white .popup {
    background-color: var(--secondary-color);
    border-width: 2px;
}

.popup {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-radius: var(--border-radius);
}

.popup.error {
    border: 1px solid var(--error-color);
}

.popup.success {
    border: 1px solid var(--success-color);
}

.popup .message-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup .message-description {
    font-size: 0.9rem;
    font-weight: normal;
    text-wrap: balance;
}


/* FELHASZNÁLÓI PROFIL */

h1.center {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

section {
    margin: 0 auto 30px;
    width: fit-content;
}

section h2 {
    margin-bottom: 10px;
}

.user-detail-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin: auto;
}

.user-detail-container>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-detail-container>div input {
    padding: 5px 20px;
    border-radius: var(--border-radius);
    border: solid 2px var(--font-color);
    background-color: var(--secondary-color);
    font-size: 1rem;
    width: 100%;
}

.user-detail-container>.button-container button {
    width: 100%;
    font-size: 1.1rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 5px 20px;
    outline: solid 2px var(--primary-color);
    transition: 100ms ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.user-detail-container>.button-container button:hover,
.user-detail-container>.button-container button:focus {
    background-color: var(--secondary-color);
}


/* RESPONSIVE STYLE */

@media only screen and (width <=1300px) {
    nav {
        padding: 0 20px;
    }
    main {
        padding: 0 20px;
    }
}

@media only screen and (width <=600px) {
    nav div.link-container {
        gap: 30px;
    }
}

@media only screen and (width <=480px) {
    nav div.logo-container {
        height: 90px;
    }
    nav div.nav-container {
        flex-direction: column;
        row-gap: 5px;
        padding-bottom: 5px
    }
    nav div.link-container {
        gap: 60px;
    }
    main.center {
        width: 100%;
        padding: 0;
    }
    .login-container {
        width: 100%;
    }
    .login-container>.logo-container {
        height: auto;
        width: 100%;
    }
    .login-container>.logo-container>img {
        height: unset;
        width: 100%;
    }
}